{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Банк LoD - {{ name }}</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body style="background-color: rgb(250, 250, 250);">
        <header class="header-profile">
            <img src="{% static 'media/logo.png' %}" alt="Логотип Банк LoD" class="logo" width="50" height="50">
            <a href="{% url 'home' %}" style="font-size: 1.5em;">LoD</a>
            <div class="header-profile-more">
                <a href="{% url 'settings' %}" ><img src="{% static 'media/setting.png' %}" width="40" height="auto"></a>
                <a href="{% url 'logout' %}" style="color: rgb(108, 181, 223);font-size: 1em;font-weight: 700;margin-top: auto;margin-bottom: auto;">Выйти</a>
            </div>
        </header>
        <main>
            <div style="display: flex; justify-content: center; align-items: center; min-height: 300px;">
                <div style="display: block;margin-right: auto;color: rgb(38, 29, 83);background-color: rgb(183, 195, 255);
                padding: 50px;margin-left: 20px;border-radius: 20px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <div style="text-align: left;">
                        <h1>Имя: {{ name }}</h1>
                        <p>Фамилия: {{ surname }}</p>
                        <p>Тип счета: {{ account_type }}</p>
                        <p>Номер счета: {{ account_number }}</p>
                        <p style="font-weight: 600;font-size: 1.5em;">Баланс: {{ balance }}₸</p>
                    </div>
                </div>
                
                <div class="flip-card" style="margin-left: auto;margin-right: auto;">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" style="background-image: url('{% static 'media/card-default.png' %}');">
                            <p style="color: azure; text-align: right; padding: 10px; font-weight: 600;">
                                {{ account_number }}
                            </p>
                        </div>
                        <div class="flip-card-back">
                            <div style="width: 500px;height: 30px;background-color: black;padding: 10px;margin-top: 20px;"></div>
                            <br>
                            <h1 style="text-align: left;margin-left: 10px;">{{ name }} {{surname}}</h1>
                            <p style="font-weight: 600;text-align: left;margin-left: 10px;">CVV2: {{ code }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: block;width: 95%;margin-left: auto;margin-right: auto;padding: 20px;
            background-color: rgb(236, 236, 236);border-radius: 20px;margin-bottom: 50px;">
                <h2>Счета:</h2>
                <hr>
                <div style="display: flex;">
                    <div class="check">
                        <h2>Основной счёт</h2>
                            <p>Номер: {{ account_number }}</p>
                            <p>Баланс: {{ balance }}₸</p>
                            <p>Код CVV2: {{ code }}</p>
                    </div>
                    {% if checks %}
                        {% for check in checks %}
                            <div style="margin-left: 10px;" class="check">
                                <h3>Счёт: {{ check.account_number }}</h3> 
                                <p><strong>Баланс:</strong> {{ check.balance }} ₸</p>
                                <p><strong>Код CVV2:</strong> {{ check.code }}</p>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>Нет дополнительных счетов.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div style="display: block;width: 95%;margin-left: auto;margin-right: auto;padding: 20px;background-color: rgb(236, 236, 236);border-radius: 20px;">
                <h2>Возможности</h2>
                <hr>
                <div style="display: flex;color: #005f73;">
                    <a href="{% url 'transfers' %}" style="text-decoration: none;color: #005f73;font-weight: 600;display: flex;">
                        <div class="check" style="display: block;text-decoration: none;" >
                            <p>Переводы</p>
                            <img src="{% static 'media/transfer.png' %}" alt="Переводы" style="width: 100px;height: auto;">
                        </div>
                    </a>
                    <a href="{% url 'payment_view'%}" style="text-decoration: none;color: #005f73;font-weight: 600;display: flex;margin-left: 20px;">
                        <div class="check" style="display: block;text-decoration: none;">
                            <p>Платежи</p>
                            <img src="{% static 'media/payment.png' %}" alt="Платежи" style="width: 100px;height: auto;">
                        </div>
                    </a>
                </div>
            </div>

        </main>
        <footer style="margin-bottom: 0;">
            <div style="display: flex;margin-top: 10px;">
                <div style="display: block;text-align: left;margin-left: 20px;">
                    <p><b>Номер телефона:</b> +1 (234) 567-890</a><br>
                    <p><b>Электронная почта:</b> lod_bank@gmail.com</p>
                    <p><b>Адрес:</b> США, штат Иллинойс, город Уиннетка, Линкльн авеню 671</p>
                </div>
                <div style="display: block;margin-left: auto;margin-right: 20px;margin-top: auto;">
                    <a href="https://www.instagram.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" style="width: 30px;height: auto;border-radius: 5px;margin-right: 10px;"></a>
                    <a href="https://www.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1024px-Facebook_f_logo_%282019%29.svg.png" style="width: 30px;height: auto;border-radius: 5px;margin-right: 10px;"></a>
                    <a href="https://www.twitter.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0Qou1wYrqJT04IXk2H3pjT2yYBIMBZ5t8sQ&s" style="width: 30px;height: auto;border-radius: 5px;"></a>
                </div>
            </div>
            <p style="margin-top: 20px;"><b>©2025 Банк LoD</b></p>
        </footer>

        <script>
            function adjustMainPadding() {
              const header = document.querySelector('header');
              const main = document.querySelector('main');
              const height = header.offsetHeight;
              main.style.paddingTop = height + 'px';
            }
        
            window.addEventListener('load', adjustMainPadding);
            window.addEventListener('resize', adjustMainPadding);
          </script>
    </body>
</html>