{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Настройки</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body style="background-color: rgb(250, 250, 250);">
        <header class="header-profile">
            <img src="{% static 'media/logo.png' %}" alt="Логотип Банк LoD" class="logo" width="50" height="50">
            <a href="{% url 'profile' %}" style=""><img src="{% static 'media/left-arrow.png' %}" width="50px" height="auto" style=""></a>
            <div class="header-profile-more">
                <a href="{% url 'logout' %}" style="color: rgb(108, 181, 223);font-size: 1em;font-weight: 700;margin-top: auto;margin-bottom: auto;">Выйти</a>
            </div>
        </header>
        <main>
            <h1 style="text-align: center;margin-top: 20vh;margin-bottom: 42vh;">По причине того что пока нечего добавить сюда страница не работает</h1>
        </main>
        <footer style="margin-bottom: 0;">
            <div style="display: flex;margin-top: 10px;">
                <div style="display: block;text-align: left;margin-left: 20px;">
                    <p><b>Номер телефона:</b> +1 (234) 567-890</a><br>
                    <p><b>Электронная почта:</b> lod_bank@gmail.com</p>
                    <p><b>Адрес:</b> США, штат Иллинойс, город Уиннетка, Линкльн авеню 671</p>
                </div>
                <div style="display: block;margin-left: auto;margin-right: 20px;margin-top: auto;">
                    <a href="https://www.instagram.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" style="width: 30px;height: auto;border-radius: 5px;margin-right: 10px;"></a>
                    <a href="https://www.facebook.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1024px-Facebook_f_logo_%282019%29.svg.png" style="width: 30px;height: auto;border-radius: 5px;margin-right: 10px;"></a>
                    <a href="https://www.twitter.com/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0Qou1wYrqJT04IXk2H3pjT2yYBIMBZ5t8sQ&s" style="width: 30px;height: auto;border-radius: 5px;"></a>
                </div>
            </div>
            <p style="margin-top: 20px;"><b>©2025 Банк LoD</b></p>
        </footer>

        <script>
            function adjustMainPadding() {
              const header = document.querySelector('header');
              const main = document.querySelector('main');
              const height = header.offsetHeight;
              main.style.paddingTop = height + 'px';
            }
        
            window.addEventListener('load', adjustMainPadding);
            window.addEventListener('resize', adjustMainPadding);
          </script>
    </body>
</html>